---
- name: Copying sudoers file
  ansible.builtin.copy:
    dest: /etc/sudoers.d/020_sudo
    owner: root
    group: root
    mode: "0440"
    src: sudoer
    validate: visudo -cf %s

- name: Adding SSH authorized keys for mario
  ansible.posix.authorized_key:
    exclusive: true
    # yamllint disable rule:line-length
    key: |
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC4MZX4N4c73onEGKP3x8DEo7mhd8ahqQEhydgM2hTHo mario
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGLzoWaCMxwWMyepLYUu6FBbYZmDOaXPj+LQtWjdM8pW mario@ipad
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOy1DGNkaHw4UiGX8H7L4ruWjWBYFSkOEvB1jqAt5rdz mario@iphone
    # yamllint enable rule:line-length
    user: "{{ whoami }}"

- name: Creating "src" directory
  become: true
  become_user: "{{ whoami }}"
  ansible.builtin.file:
    group: "{{ whoami }}"
    mode: "0755"
    owner: "{{ whoami }}"
    path: /home/{{ whoami }}/{{ item }}
    state: directory
  loop:
    - src
    - src/mfinelli

- name: Cloning this repository for easier updates
  become: true
  become_user: "{{ whoami }}"
  ansible.builtin.git:
    dest: /home/{{ whoami }}/src/mfinelli/arch-install
    repo: https://github.com/mfinelli/arch-install.git

- name: Creating github actions access user
  when: ansible_hostname in user_github_actions_access_hosts
  ansible.builtin.include_tasks: github.yml
