--auth-key={{ tailscale_oauth_secret['content'] | b64decode | trim }}?ephemeral=false&preauthorized=true --accept-dns=false{%if tailscale_exit_node == "true" %} --advertise-exit-node{% endif %}{%if ansible_hostname in tailscale_tags %} --advertise-tags={{ tailscale_tags[ansible_hostname] | join(",") }}{% endif %}{% if ansible_hostname in tailscale_ssh %} --ssh{% endif %}
