root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{fact,py}]
indent_size = 4

[{unbound.conf,sshd_config}]
indent_style = tabs
indent_size = 8

[utc.reg]
end_of_line = crlf
