root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = spaces
insert_final_newline = true
trim_trailing_whitespace = true

[cloudflare.conf]
indent_size = 8
indent_style = tabs

[crypttab.j2]
indent_size = 8
indent_style = tabs

[service.rules]
indent_size = 4

[{unbound.conf,sshd_config}]
indent_size = 8
indent_style = tabs
