---
extends: default
rules:
  comments:
    # https://github.com/prettier/prettier/pull/10926
    min-spaces-from-content: 1

  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
# vim: ft=yaml
