---
- name: Configuring systemd
  ansible.builtin.include_tasks: systemd.yml

- name: Enabling HTTPS-enabled sources.list
  ansible.builtin.include_tasks: sources.yml

- name: Installing manually installed packages
  ansible.builtin.apt:
    name:
      - ansible
      - curl
      - git
    state: present
    update_cache: true

- name: Installing ansible dependencies
  ansible.builtin.apt:
    name:
      - python3-apt
    state: present

- name: Installing base packages
  ansible.builtin.apt:
    name:
      - bat
      - fastfetch
      - fd-find
      - fq
      - fzf
      - glow
      - htop
      - jq
      - libarchive-tools
      - lsd
      - miller
      - moreutils
      - nvtop
      - pv
      - pwgen
      - ripgrep
      - screen
      - silversearcher-ag
      - thefuck
      - universal-ctags
      - urlwatch
      - vim
      - whois
    state: present

- name: Installing secondary packages
  ansible.builtin.apt:
    name:
      - nvme-cli
      - sd
    state: present

- name: Installing atuin
  ansible.builtin.apt:
    name: atuin
    state: present

- name: Adding APT pin for backports kernel
  when: ansible_hostname in base_use_backports_kernel
  ansible.builtin.template:
    dest: /etc/apt/preferences.d/kernel
    group: root
    mode: "0644"
    owner: root
    src: kernel.j2

- name: Removing APT pin for backports kernel
  when: ansible_hostname not in base_use_backports_kernel
  ansible.builtin.file:
    path: /etc/apt/preferences.d/kernel
    state: absent

- name: Installing backports kernel
  when: ansible_hostname in base_use_backports_kernel
  ansible.builtin.apt:
    default_release: "{{ ansible_distribution_release }}-backports"
    name: linux-image-{{ base_architectures[ansible_architecture] }}
    state: present

- name: Enabling simple, stateful firewall
  ansible.builtin.include_tasks: firewall.yml
