--auth-key={{ tailscale_oauth_secret['content'] | b64decode | trim }}?ephemeral=false&preauthorized=true --accept-dns=false{%if ansible_facts["hostname"] in tailscale_exit_node_hosts %} --advertise-exit-node{% endif %}{%if ansible_facts["hostname"] in tailscale_host_tags %} --advertise-tags={{ tailscale_host_tags[ansible_facts["hostname"]] | join(",") }}{% endif %}{% if ansible_facts["hostname"] in tailscale_ssh_hosts %} --ssh{% endif %}
