# {{ ansible_managed }}

Types: deb
{% if ansible_facts["distribution"] == "Debian" %}
URIs: https://pkgs.tailscale.com/stable/debian
{% if israspi == "true" %}
URIs: https://pkgs.tailscale.com/stable/raspbian
{% else %}
URIs: https://pkgs.tailscale.com/stable/ubuntu
{% endif %}
Suites: {{ ansible_facts["distribution_release"] }}
Components: main
Signed-By: /usr/share/keyrings/tailscale-archive-keyring.gpg

# vim: ft=debsources.jinja2
