# {{ ansible_managed }}

Package: openrct2
Pin: release a={{ ansible_distribution_release }}-backports
Pin-Priority: 500

Package: openrct2-data
Pin: release a={{ ansible_distribution_release }}-backports
Pin-Priority: 500

Package: openrct2-objects
Pin: release a={{ ansible_distribution_release }}-backports
Pin-Priority: 500

Package: openrct2-openmsx
Pin: release a={{ ansible_distribution_release }}-backports
Pin-Priority: 500

Package: openrct2-opensfx
Pin: release a={{ ansible_distribution_release }}-backports
Pin-Priority: 500

Package: openrct2-title-sequences
Pin: release a={{ ansible_distribution_release }}-backports
Pin-Priority: 500
