# {{ ansible_managed }}

Types: deb
URIs: https://archive.raspberrypi.com/debian/
Suites: {{ ansible_distribution_release }}
Components: main
Signed-By: /usr/share/keyrings/raspberrypi-archive-keyring.pgp

# vim: ft=debsources.jinja2
