# {{ ansible_managed }}

Types: deb
URIs: https://ppa.launchpadcontent.net/mfinelli/supermario/ubuntu
Suites: {{ ansible_distribution_release }}
Components: main
Signed-By: /usr/share/keyrings/supermario-archive-keyring.gpg

# vim: ft=debsources.jinja2
