# {{ ansible_managed }}
deb https://ppa.launchpadcontent.net/mfinelli/supermario/ubuntu {{ ansible_distribution_release }} main
# deb-src https://ppa.launchpadcontent.net/mfinelli/supermario/ubuntu {{ ansible_distribution_release }} main
# vim: ft=debsources.jinja2
