# {{ ansible_managed }}

Types: deb
URIs: https://mega.nz/linux/repo/xUbuntu_{{ ansible_distribution_version }}/
Suites: ./
Components:
Signed-By: /usr/share/keyrings/meganz-archive-keyring.gpg

# vim: ft=debsources.jinja2
