---
- name: Copying sudoers file
  ansible.builtin.copy:
    dest: /etc/sudoers.d/020_sudo
    owner: root
    group: root
    mode: "0440"
    src: sudoer
    validate: visudo -cf %s

- name: Installing openssh
  ansible.builtin.apt:
    name: openssh-server
    state: present

- name: Enabling sshd service
  ansible.builtin.systemd:
    enabled: true
    name: ssh.service
    state: started

- name: Copying sshd configuration
  ansible.builtin.copy:
    dest: /etc/ssh/sshd_config
    group: root
    mode: "0644"
    owner: root
    src: sshd_config
    validate: /usr/sbin/sshd -tf %s
  notify:
    - Restart sshd

- name: Installing auto-unlock tools
  ansible.builtin.apt:
    name:
      - clevis
      - clevis-luks
      - clevis-tpm2
      - clevis-initramfs
      - tpm2-tools
    state: present

- name: Installing cifs-utils
  ansible.builtin.apt:
    name: cifs-utils
    state: present

- name: Creating GitHub Actions user
  when: ansible_hostname in server_github_actions_access_hosts
  ansible.builtin.include_tasks: github.yml

- name: Switching to systemd-networkd
  ansible.builtin.include_tasks: network.yml
