---
- name: Rebuild initramfs
  ansible.builtin.command: /usr/sbin/update-initramfs -u
  register: fde_rebuilt_initramfs
  changed_when: fde_rebuilt_initramfs.rc == 0
  failed_when: fde_rebuilt_initramfs.rc != 0
