---
- name: Creating root /media directory
  ansible.builtin.file:
    group: root
    mode: "0755"
    owner: root
    path: /media
    state: directory

- name: Installing full disk encryption dependencies
  ansible.builtin.apt:
    name:
      - busybox
      - cryptsetup
      - cryptsetup-initramfs
      - initramfs-tools
    state: present

- name: Copying initramfs tools configuration
  ansible.builtin.copy:
    dest: /etc/initramfs-tools/initramfs.conf
    group: root
    mode: "0644"
    owner: root
    src: initramfs.conf
  notify:
    - Rebuild initramfs

- name: Copying initramfs luks hooks script
  ansible.builtin.copy:
    dest: /etc/initramfs-tools/hooks/luks
    group: root
    mode: "0755"
    owner: root
    src: luks.sh
  notify:
    - Rebuild initramfs

- name: Copying initramfs modules list
  ansible.builtin.copy:
    dest: /etc/initramfs-tools/modules
    group: root
    mode: "0644"
    owner: root
    src: modules
  notify:
    - Rebuild initramfs
