---
- name: Restart sshd
  ansible.builtin.systemd:
    name: ssh.service
    state: restarted

- name: Restart systemd-networkd
  ansible.builtin.systemd:
    name: systemd-networkd.service
    state: restarted
