---
- name: Run mkinitcpio
  become: true
  ansible.builtin.command: mkinitcpio -P
  register: base_ran_mkinitcpio
  changed_when: base_ran_mkinitcpio.rc == 0
  failed_when: base_ran_mkinitcpio.rc != 0

- name: Restart systemd-resolved
  become: true
  when: mmode != 'setup'
  ansible.builtin.systemd:
    name: systemd-resolved.service
    state: restarted

- name: Restart systemd-timesyncd
  become: true
  when: mmode != 'setup'
  ansible.builtin.systemd:
    name: systemd-timesyncd.service
    state: restarted
