---
- name: Installing required software
  when: mtype == 'work'
  become: true
  community.general.pacman:
    name:
      - apachedirectorystudio
      - azure-cli
      - cloud-sql-proxy
      - cmctl # cert-manager cli
      - colordiff
      - gemini-cli
      - git-crypt
      - mariadb-clients
      - openldap
      - python-google-cloud-compute
      - python-hcl2
      - python-kubernetes
      - python-onepasswordconnectsdk
      - terraform-docs
      - tidy
      - yj
    state: present

- name: Installing required software from the AUR
  when: mtype == 'work'
  kewlfft.aur.aur:
    name:
      - google-cloud-cli-gke-gcloud-auth-plugin
      - slack-desktop # slack-wayland doesn't work very well...
    state: present
