# {{ ansible_managed }}

Types: deb
Arch: amd64
URIs: https://dl.google.com/linux/chrome/deb/
Suites: stable
Components: main
Architectures: amd64
Signed-By: /usr/share/keyrings/google-archive-keyring.gpg

# vim: ft=debsources.jinja2
