---
- name: Installing bootstrap packages
  ansible.builtin.apt:
    name:
      - ansible
      - git
    state: present

- name: Copying https-enabled sources list
  ansible.builtin.template:
    dest: /etc/apt/sources.list.d/debian.sources
    group: root
    mode: "0644"
    owner: root
    src: debian.sources.j2
  register: main_sources_list

- name: Copying https-enabled raspi sources list
  ansible.builtin.template:
    dest: /etc/apt/sources.list.d/raspi.sources
    group: root
    mode: "0644"
    owner: root
    src: raspi.sources.j2
  register: main_rpi_list

- name: Adding supermario repository
  block:
    - name: Computing repository base url
      ansible.builtin.set_fact:
        main_supermario_repo_full_host: "{{ main_supermario_repo_host }}\
          Debian_{{ ansible_distribution_major_version }}"

    - name: Downloading supermario repository signing key
      ansible.builtin.get_url:
        dest: /etc/apt/keyrings/supermario-archive-keyring.asc
        group: root
        mode: "0644"
        owner: root
        url: "{{ main_supermario_repo_full_host }}/Release.key"
      register: main_supermario_key

    - name: Adding supermario repository signing key
      ansible.builtin.command:
        cmd: >-
          gpg --dearmor -o /usr/share/keyrings/supermario-archive-keyring.gpg
          /etc/apt/keyrings/supermario-archive-keyring.asc
        creates: "{{ main_supermario_key.changed | ternary('',
          '/usr/share/keyrings/supermario-archive-keyring.gpg') | default(omit,
          true) }}"

    - name: Adding supermario repository
      ansible.builtin.template:
        dest: /etc/apt/sources.list.d/supermario.sources
        group: root
        mode: "0644"
        owner: root
        src: supermario.sources.j2
      register: main_supermario_repository

    - name: Updating apt cache for new repository
      ansible.builtin.apt:
        update_cache: true
      when: main_supermario_repository.changed # noqa no-handler

- name: Copying locale.gen
  ansible.builtin.copy:
    dest: /etc/locale.gen
    group: root
    mode: "0644"
    owner: root
    src: locale.gen
  notify:
    - Regenerate locales

- name: Installing systemd-resolved
  ansible.builtin.apt:
    name: systemd-resolved
    state: present
    update_cache: "{{ main_sources_list.changed or main_rpi_list.changed }}"

- name: Creating systemd configuration override directories
  ansible.builtin.file:
    group: root
    mode: "0755"
    owner: root
    path: /etc/systemd/{{ item }}.d
    state: directory
  loop:
    - resolved.conf
    - timesyncd.conf

- name: Copying custom systemd-resolved configuration
  ansible.builtin.copy:
    dest: /etc/systemd/resolved.conf.d/dns.conf
    group: root
    mode: "0644"
    owner: root
    src: resolved.conf
  notify:
    - Restart systemd-resolved

- name: Enabling systemd-resolved
  ansible.builtin.systemd:
    enabled: true
    name: systemd-resolved.service
    state: started

- name: Flushing handlers
  ansible.builtin.meta: flush_handlers

- name: Copying custom systemd-timesyncd configuration
  ansible.builtin.copy:
    dest: /etc/systemd/timesyncd.conf.d/time.conf
    group: root
    mode: "0644"
    owner: root
    src: timesyncd.conf
  notify:
    - Restart systemd-timesyncd

- name: Installing openssh
  ansible.builtin.apt:
    name: openssh-server
    state: present

- name: Enabling sshd service
  ansible.builtin.systemd:
    enabled: true
    name: ssh.service
    state: started

- name: Copying sshd configuration
  ansible.builtin.copy:
    dest: /etc/ssh/sshd_config
    group: root
    mode: "0644"
    owner: root
    src: sshd_config
    validate: /usr/sbin/sshd -tf %s
  notify:
    - Restart sshd

- name: Installing main applications
  ansible.builtin.apt:
    name:
      - fastfetch
      - htop
      - libarchive-tools
      - lm-sensors
      - netcat-openbsd
      - nnn
      - pastebinit
      - pcscd
      - ripgrep
      - scdaemon
      - screen
      - sysstat
      - tree
      - universal-ctags
      - vim
    state: present

- name: Installing backup applications
  ansible.builtin.apt:
    name:
      - age
      - borgbackup
      - rclone
    state: present

- name: Installing atuin
  ansible.builtin.apt:
    name: atuin
    state: present

- name: Installing magic-wormhole
  ansible.builtin.apt:
    name: magic-wormhole
    state: present

- name: Configuring FDE and boot
  ansible.builtin.include_tasks: boot.yml

- name: Configuring basic firewall
  ansible.builtin.include_tasks: firewall.yml
