# {{ ansible_managed }}

Types: deb
URIs: https://repo.waydro.id/
Suites: {{ ansible_distribution_release }}
Components: main
Signed-By: /usr/share/keyrings/waydroid-archive-keyring.gpg

# vim: ft=debsources.jinja2
