---
- name: Adding the tailscale APT signing key
  ansible.builtin.get_url:
    dest: /usr/share/keyrings/tailscale-archive-keyring.gpg
    group: root
    mode: "0644"
    owner: root
    url: "https://pkgs.tailscale.com/stable/raspbian/\
      {{ ansible_distribution_release }}.noarmor.gpg"

- name: Adding the Tailscale repository
  ansible.builtin.template:
    dest: /etc/apt/sources.list.d/tailscale.sources
    group: root
    mode: "0644"
    owner: root
    src: tailscale.sources.j2
  register: tailscale_repository

- name: Installing tailscale
  ansible.builtin.apt:
    name: tailscale
    state: present
    update_cache: "{{ tailscale_repository.changed }}"

- name: Starting and enabling tailscale service
  ansible.builtin.systemd:
    enabled: true
    name: tailscaled.service
    state: started

- name: Enabling ip_forward in ufw sysctl.conf to allow tailscale exit node
  ansible.builtin.lineinfile:
    path: /etc/ufw/sysctl.conf
    regexp: '^\s*#\s*{{ item }}\s*=\s*1\s*$'
    line: '{{ item.key }}=1'
    backrefs: false
    create: false
  loop:
    - net/ipv4/ip_forward
    - net/ipv6/conf/default/forwarding
    - net/ipv6/conf/all/forwarding

- name: Enabling IP forwarding to allow tailscale exit node status
  when: tailscale_exit_node == "true"
  ansible.posix.sysctl:
    name: "{{ item }}"
    reload: true
    sysctl_set: true
    value: "1"
  loop:
    - net.ipv4.ip_forward
    - net.ipv6.conf.all.forwarding

- name: Adding ufw rule to allow incoming traffic to the tailscale interface
  community.general.ufw:
    direction: in
    interface: tailscale0
    rule: allow

- name: Adding ufw rule to allow traffic on port 41641
  community.general.ufw:
    port: "41641"
    proto: udp
    rule: allow

- name: Adding ufw rule to allow traffic on port 3478
  community.general.ufw:
    port: "3478"
    proto: udp
    rule: allow

- name: Connecting to tailnet
  ansible.builtin.include_tasks: up.yml
