---
- name: Restart iwd
  ansible.builtin.systemd:
    name: iwd.service
    state: restarted

- name: Restart sshd
  ansible.builtin.systemd:
    name: ssh.service
    state: restarted

- name: Restart systemd-networkd
  ansible.builtin.systemd:
    name: systemd-networkd.service
    state: restarted

- name: Restart systemd-resolved
  ansible.builtin.systemd:
    name: systemd-resolved.service
    state: restarted

- name: Restart systemd-timesyncd
  ansible.builtin.systemd:
    name: systemd-timesyncd.service
    state: restarted

- name: Regenerate locales
  ansible.builtin.command: locale-gen
  register: main_localegen
  changed_when: main_localegen.rc == 0
  failed_when: main_localegen.rc != 0

- name: Wait for Wi-Fi
  ansible.builtin.command:
    cmd: iwctl device {{ ansible_default_ipv4["interface"] }} show
  register: main_iwctl_check_handler
  changed_when: false
  failed_when: false
  until: main_iwctl_check_handler.rc == 0
  retries: 60
  delay: 2
