---
- name: Adding the Steam repository key
  ansible.builtin.get_url:
    dest: /usr/share/keyrings/steam-archive-keyring.gpg
    group: root
    mode: "0644"
    owner: root
    url: https://repo.steampowered.com/steam/archive/stable/steam.gpg

- name: Adding the Steam repository
  ansible.builtin.template:
    dest: /etc/apt/sources.list.d/steam.sources
    group: root
    mode: "0644"
    owner: root
    src: steam.sources.j2
  register: gaming_steam_repository

- name: Installing Steam
  ansible.builtin.apt:
    name:
      - libgl1-mesa-dri:amd64
      - libgl1-mesa-dri:i386
      - libglx-mesa0:amd64
      - libglx-mesa0:i386
      - steam-launcher
    state: present
    update_cache: "{{ gaming_steam_repository.changed }}"

# https://github.com/ValveSoftware/steam-for-linux/issues/9383#issuecomment-1584898530
- name: Fixing steam desktop entry
  ansible.builtin.replace:
    path: /usr/share/applications/steam.desktop
    regexp: '^PrefersNonDefaultGPU=true\s*$'
    replace: 'PrefersNonDefaultGPU=false'

- name: Installing steamtinkerlaunch
  ansible.builtin.apt:
    name: steamtinkerlaunch
    state: present
