# {{ ansible_managed }}
{% if ansible_hostname in base_attached_storage %}
{% for disk in base_attached_storage[ansible_hostname] %}
{% if base_attached_storage_lookups[disk.name]["device"] %}
{% if base_attached_storage_lookups[disk.name]["keyfile"] %}
{{ disk.name }}	/dev/disk/by-partlabel/{{ disk.label }}	{{ disk.keyfile }}	luks
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
