---
- name: Installing GNOME
  become: true
  community.general.pacman:
    name:
      - gnome
      - gnome-extra
    state: present

- name: Installing GNOME extras
  become: true
  community.general.pacman:
    name:
      - aisleriot
      - gnome-shell-extension-appindicator
      - gnome-shell-extension-arc-menu
      - gnome-shell-extension-arch-update
      - gnome-shell-extension-blur-my-shell
      - gnome-shell-extension-caffeine
      - gnome-shell-extension-copyous
      - gnome-shell-extension-dash-to-dock
      - gnome-shell-extension-emoji-copy
      - gnome-shell-extension-nightthemeswitcher
      - gnome-shell-extension-no-overview
      - gnome-shell-extension-randomwallpaper
      - gnome-shell-extension-simpleweather
      - gnome-shell-extension-systemd-manager
      - gtranslator
      - hddtemp # for freon extension
      - network-manager-applet
      - power-profiles-daemon
      - rhythmbox
      - seahorse
      - system-config-printer
      - wl-clipboard
      - xdg-desktop-portal
      - xdg-desktop-portal-gnome
    state: present

- name: Uninstalling old GNOME extensions
  become: true
  community.general.pacman:
    name:
      - gnome-shell-extension-pano
    state: absent

- name: Copying systemd policy for the systemd GNOME extension
  become: true
  ansible.builtin.copy:
    dest: /etc/polkit-1/rules.d/10-service_status.rules
    group: root
    mode: "0644"
    owner: root
    src: service.rules

- name: Installing firmware updater
  become: true
  community.general.pacman:
    name:
      - dmidecode
      - fwupd
      - fwupd-efi
      - gnome-firmware
    state: present

- name: Enabling GDM
  become: true
  ansible.builtin.systemd:
    enabled: true
    name: gdm.service
