---
acknowledgements:
  enabled: true

sources:
  metrics_host:
    type: host_metrics
    filesystem:
      filesystems:
        excludes:
          - nsfs
          - overlay
          - autofs
          - binfmt_misc
          - bpf
          - cgroup2
          - debugfs
          - devpts
          - devtmpfs
          - mqueue
          - proc
          - pstore
          - securityfs
          - sysfs
          - tracefs

  metrics_internal:
    type: internal_metrics

sinks:
  victoriametrics:
    type: prometheus_remote_write
    auth:
      strategy: basic
      user: vector
      password: {{ monitoring_vector_secret['content'] | b64decode | trim | quote }}
    endpoint: https://vm.mario.casa/api/v1/write
    healthcheck:
      enabled: false
    inputs:
      - metrics_*

# vim: ft=yaml.jinja2
