---
acknowledgements:
  enabled: true

sources:
  host_metrics:
    type: host_metrics

  internal_metrics:
    type: internal_metrics

sinks:
  victoriametrics:
    type: prometheus_remote_write
    auth:
      strategy: basic
      user: vector
      password: {{ monitoring_vector_secret | quote }}
    endpoint: https://vm.mario.casa/api/v1/write
    inputs:
      - host_metrics
      - internal_metrics

# vim: ft=yaml.jinja2
